<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      body {
        background-color: white;
        font-family: "Poppins", sans-serif;
        max-width: 1440px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="signin.html">Sign In</a>
      <a href="signup.html">Sign Up</a>
      <a href="select_uni.html">Email Verified</a>
      <a href="home.html">Home</a>
    </nav>
  </body>
</html>
